* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #2D2D2D;
    color: #FFFFFF;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: #1A1A1A;
    padding: 20px;
    border-top-right-radius : 50px;
    border-bottom-right-radius : 90px;
    box-shadow: 0 6px 15px rgba(3, 234, 255, 0.5);
}

.sidebar .logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #333;
}


main {
    flex-grow: 1;
    padding: 40px;
}

header h2 {
    font-size: px;
    margin-bottom: 20px;
}

header h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.subjects {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.e-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(3, 234, 255, 0.5);

}

 .progress {
    font-size: 60px;
    margin-bottom: 10px;
}

.e-card {
   
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    
  }
  
  .blue {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#2405ab,#140195 60%,#0464ff);
  }

  .pink {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#4a005d,#b401ae 60%,#ff00ff);
  }

  .verde {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#0c5800,#01b42b 60%,#35ff02);
  }

  .roxo {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#360055,#7e01b4 60%,#d902ff);
  }

  .amarelo {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#c0b627,#6c6c00 60%,#e4f501);
  }

  .laranja {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#ff4000,#fa7000 60%,#f57b01);
  }
  
  .infotop {

    font-size: 30px;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 20px;
    justify-content: absolute;
  }

  .infotop .separacao {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    padding: 110px;
  }
  

  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave  {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  