body{
    display: flex;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
#container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding-top: 50px;
}
#cadastro{
    height: 100vh;
    width: 70%;
    text-align: center;
    color: #7106B6;
    flex-direction: column;
    

}
#login{
    height: 100vh;
    width: 35%;
    background-color: #7106B6;
    margin-left: 0;
    text-align: center;
    color: white;
    flex-direction: column;
    transition: all 1s;

}
#login:hover{
    height: 100vh;
    width: 60%;
    background-color: #7106B6;
    margin-left: 0;
    text-align: center;
    color: white;
    flex-direction: column;
    transition: all 1s;

}
#divisoria{
    margin: 0;
    height: 100vh;
    width: 30px;
    background-color: #7006b6cb;
}
#divisoria02{
    margin: 0;
    height: 100vh;
    width: 20px;
    background-color: #7006b6a4;
}


#login_div{
    margin-top: 150px;
}
#cadastro_div{
    margin-top: 0px;
}
#input_email{
    padding-left: 20px;
    height: 40px;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
    border-style: none;
}
input{
    padding-left: 20px;
    height: 40px;
    width: 300px;
    border-radius: 30px;
    border-color: #7106B6;
    margin-bottom: 30px;
    
}
#input_senha{
    padding-left: 20px;
    height: 40px;
    width: 300px;
    border-radius: 30px;
    border-style: none;
    
    
}:placeholder-shown{
    padding-left: 20px;
    color: purple;
}
#button_login{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    background-color: white;
    color: purple;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
}
#button_cadastro{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    background-color: #7106B6;
    color: white;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
}
#img_login{
    position: absolute;
    width: 420px;
    margin-left: -50px;
    margin-top: -70px;
}
